.hotelCard {
    font-family: Open Sans;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-bottom: 30px;
}

.details {
    padding: 15px;
}


.hotelCard:hover {
    box-shadow: -10px 10px 5px 0 rgba(207, 207, 203, 0.8);
    transform: scale(1.1);

}



.image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 400px;
    height: auto;
}

.address {
    color: var(--main-blue)
}

.hotelName {
    font-weight: 800;
}

.Rating {
    color: #FFD700;
    font-size: larger;
    font-weight: 800;
}