.container {
    width: 75%;
    margin: 8rem auto 10px auto;
    font-family: Open Sans;
}

.container>h1 {
    margin-bottom: 0;
}

.Hotels {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* overflow-x: auto; */

}

.slogan {
    color: #555555;
    margin-bottom: 50px;
}
.loading{
    width: 40%;
    height: 40%;
    margin: auto;
    color: var(--blues-gray-2);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    font-family: Open Sans;
    position: relative;
    right: 13rem;
}

@media only screen and (width<850px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .Hotels {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}