.serviceList{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    row-gap: 2rem;
    column-gap: 2rem;
}
.servicesHeader{
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    margin-bottom:50px;
}
@media (max-width: 600px){
    .serviceList{
        grid-template-columns: 47% 47%;
        grid-template-rows: auto;
    }
}
@media (max-width: 420px){
    .serviceList{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}