:root{
  --dark-gray: #222;
  --main-blue:#088395;
  --background:rgb(53,162,159,0.1);
}
body {
  margin: 0;
  font-family: Open Sans,'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
