.container {
    background-color: var(--background);
    width: 100%;
    height: auto;
    position: absolute;
}

.HeroImage {
    display: block;
    width: 90%;
    max-height:700px;
    margin: auto;
    border-radius: 5px;

}

.slogan {
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(85, 85, 85, 40%);
    color: white;
    position: absolute;
    top:22%;
    left: 14%;
    font-size: 30px;
    font-weight: 800;
    border-radius: 5px;
}


@media only screen and (width<900px) {
    .slogan {
        font-size: 20px;
    }
}