.container {
    width: 60%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 600px;
    margin: auto;
    background-color: white;
    border-radius: 50px;
    z-index: 100;
}

.sections {
    width: 25%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.section {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.sectionBorder {
    border-right: 1px solid rgb(218, 216, 216);
}

.icons,
.text {
    margin: 15px 8px 5px 0;
}

.Description {
    opacity: 60%;
}

.sections:last-child {
    background-color: var(--main-blue);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
}

.Button {
    color: white;
    height: 100%;
}

.Drop {
    margin-top: 10px;
    appearance: none;
    border: none;
    background-color: transparent;
    width: 80%;
    font-size: 18px;
    opacity: 50%;
    text-align: center;

}


.calendar {
    border: none;
    font-size: 16px;
    width: 80%;
    text-align: center;
}

@media only Screen and (width<1000px) {
    .container {
        width: 80vw;
        font-size: 16px;
    }

    .sections {
        width: 60%;
    }

    .calendar {
        font-size: smaller;
    }

    .Drop {
        font-size: smaller;
    }


}

@media only Screen and (width<500px) {
    .container {
        display: flex;
        height: auto;
        flex-direction: column;
        font-size: 16px;
        background-color: white;
        border-radius: 35px;
    }

    .sections {
        width: 100%;
    }
  
}