.sectionone {
  display: flex;
  gap: 20px;
}
.partone {
  width: 50%;
}
.sectiontwo {
  width: 60%;
}
.text {
  color: #585858;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.title {
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.image {
  border-radius: 20px;
  height: 346px;
  width: 50%;
}
@media only screen and (max-width: 1200px) {
  .sectionone {
    flex-direction: column;
  }
  .partone {
    width: 90%;
  }
  .image {
    height: 346px;
    width: 70%;
    margin: 2% auto;
  }
}
@media only screen and (max-width: 768px) {
  .image {
    height: 200px;
  }
  .sectiontwo {
    width: 90%;
  }
  .title {
    font-size: 28px;
  }

  .text {
    font-size: 16px;
  }
}
