.container {
    font-size: 20px;
    position: absolute;
    top:50%;
    left: 17%;
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 10px 10px 0 rgba(65, 65, 72, 0.9);
    z-index: 2;
}


.section {
    width: 20%;
    height: 70%;
    display: grid;
    grid-template-columns: 40px 1fr;
    padding-left: 20px;
    gap: 0;
    grid-template-rows: 1fr 1fr;
    border-right: 1px solid rgb(218, 216, 216);
    justify-content: center;
    align-items: center;
}


.section:last-child{
    height: 90%;
}

.Description {
    grid-row: 2;
    grid-column: 1/3;
    opacity: 60%;
    font-size: 16px;

}

.icons {
    margin: auto 0;
}

.text {
    margin: auto 0;
}


.section:last-child {
    background-color: var(--main-blue);
    height: 100%;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    color: white;

}

.section:last-child >a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.section:nth-child(4) {
    border: none;
}


.Drop {
    appearance: none;
    border: none;
    background-color: transparent;
    font-size: 18px;

}


.calendar {
    border: none;
}


@media only Screen and (width<1000px) {

    .container {
        position: absolute;
        width: 60%;
        left: 20%;
        top:35%;
        display: flex;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        border-radius: 35px;
    }

    .section {
        margin: 15px 0 0 0;
        padding: 10px;
        width: 80%;
        display: grid;
        grid-template-columns: 50px 100px 150px;
        grid-template-rows: 20px;
        border: 1px solid black;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
    }


    .section:last-child{
        width:100%;
    }
    .Description {
        grid-row: 1;
        grid-column: 3/3;
    }

    .section:nth-child(4) {
        border: 1px solid black;
    }

  
}

@media only Screen and (width<580px) {

    .container {
        margin: 0;
        width: 90%;
        position: absolute;
        top: 30%;
        left: 5%;
    }

}