.footer{
    display: grid;
    grid-template-columns: 0.2fr 0.25fr 0.25fr 0.25fr;
    width: 70vw;
    margin: 2rem auto;
    padding: 2rem;
}
.desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
}
.text{
    color: var(--gray1, #555);
    font-family: Open Sans;
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.8rem;
}
.logos{
    display: flex;
    justify-content: space-between;
}
.logo{
    padding:0.4rem;
}
.home, .help, .app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.helpHeader, .homeHeader, .appHeader{
    color: var(--dark-gray, #222);
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.8rem; 
    }
.homelist, .helplist, .applist{
    list-style: none;
    padding-left:0px;
}
.helpitems, .homeitems, .appitems{
    color: var(--dark-gray, #222);
    font-family: Open Sans;
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.8rem;
    padding: 5px 0;
    text-decoration: none;
}
.copyrights{
    border-top:1px solid #555555b1;
    text-align: center;
    font-size: 0.5rem;
    padding-top: 1rem;
    margin:1rem auto;
    width: 70vw;
}
@media(max-width:400px){
    .footer{
        column-gap: 2rem;
    }
    .logo{
        scale: 0.8;
        padding: 8px;
    }
    
}

