

 .heroSection {
    font-family: Open Sans;
    position: relative;
    width:100%;
    height: 100vh;
}

.slogan {
    position: absolute;
    color: white;
    font-size: 3vw;
    z-index: 3;
    left: 17%;
    top: 22%;
    width: 60vw;
    margin: 0;

}


.heroImg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    object-fit: cover;
    filter: brightness(70%);
}


@media screen and (max-width: 1100px) {

    .heroSection h1 {

        font-size: 3.5vw;
        width: 85%;
        left:8%;
    }
}

@media screen and (max-width: 600px) {

    .heroSection h1 {
        font-size: 5vw;
        left:5%;
    }
}